DATABASE_URL="postgres://postgres:password@localhost:5432/github_release_notifications?sslmode=disable"
PORT="2433"
GITHUB_TOKEN=
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER=""
SMTP_PASSWORD=""
SENDER_EMAIL="notifier@github.local"
MAIN_URL="http://localhost:2433"
API_KEY="genesis-summer-school"